# CUBE files
*.GDS
*.DAT
*.BAK
*.VAR
*.PRN
*.TPPL
*.log
*.TRF

ELTOD[0-9].bin.start.*
ELTOD[0-9].bin.end.*
ELTODB[0-9][0-9].script.command
ELTODB[0-9][0-9].script.cmdstart
ELTODB[0-9][0-9].script.end
ELTODB[0-9][0-9].script.VAR
ELTODB[0-9][0-9].script.message
ELTODB[0-9].script
ELTODB[0-9].script.command
ELTODB[0-9].script.cmdstart
ELTODB[0-9].script.end
ELTODB[0-9].script.VAR
ELTODB[0-9].script.message
*tempfile.*