# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CUBE files
*.GDS
*.DAT
*.BAK
*.VAR
*.PRN
*.TPPL
*.log
*.TRF
*ELTODB[0-9][0-9].script.command
*ELTODB[0-9][0-9].script.cmdstart
*ELTODB[0-9][0-9].script.end
*ELTODB[0-9][0-9].script.VAR
*ELTODB[0-9][0-9].script.message
*ELTODB[0-9].script.command
*ELTODB[0-9].script.cmdstart
*ELTODB[0-9].script.end
*ELTODB[0-9].script.VAR
*ELTODB[0-9].script.message
*tempfile.*